fastapi[all]
sqlmodel==0.0.21
psycopg2-binary==2.9.9
requests
pandas
torch
transformers
firebase-admin
pillow
aiohttp
inference_sdk
supervision
google.generativeai
torchvision
joblib
scikit-learn==1.5.1