fastapi[all]
sqlmodel==0.0.21
psycopg2-binary==2.9.9

torch==2.3.0
torchvision==0.18.0
google-generativeai==0.7.2
python-dotenv==1.0.1
requests==2.31.0
pandas==2.2.2
SpeechRecognition==3.10.4
gtts==2.5.3
pygame==2.6.0
numpy==1.26.4
